<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single User Query</title>
</head>
<body>
<h1><%= user.name.capitalize() %> <%= user.surname.capitalize() %></h1>
<h2>Id: <%= user.id %></h2>
<h2>CityId: <%= user.city_id %></h2>
</body>
</html>